{% extends 'base.html' %}

{% block content %}
<div class="flex flex-col justify-center items-center w-full h-full">

    <h1 class="m-5 font-bold uppercase text-xl">Enviar planilha de acessos:</h1>
    <form method=post enctype=multipart/form-data>
        <div class="w-full flex flex-col space-y-3">
            <input type=file name=file>
            <button type="submit" value="Upload" class="w-full btn btn-primary">Enviar</button>
            <a class="w-full btn btn-warning font-bold" href="/logout">
                <span class="material-symbols-outlined"> logout </span>
                <span id="sair">Sair</span>
            </a>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="alert alert-success text-white">
                {% for category, message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </form>


</div>


{% endblock %}